@font-face {
    font-family: zolla;
    src: url("./fonts/Zolla.ttf");
}

* {
    font-family: zolla, serif;
    -webkit-user-select: none;
}

:root {
    --cell-size: 125px;
}

.board {
    width: 100vw;
    height: 70vh;
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, auto);
}

.board.cross .cell:not(.cross):not(.circle):not(.disabled):hover {
    content: url('./assets/cross.svg');
    filter: invert(41%) sepia(92%) saturate(2419%) hue-rotate(334deg) brightness(106%) contrast(104%);
}

.board.circle .cell:not(.cross):not(.circle):not(.disabled):hover {
    content: url('./assets/circle.svg');
    filter: invert(69%) sepia(81%) saturate(630%) hue-rotate(146deg) brightness(84%) contrast(87%);
}

.cell.cross,
.cell.circle {
    cursor: not-allowed;
}

.cell:not(.cross):not(.circle) {
    cursor: pointer;
}

.cell {
    width: var(--cell-size);
    height: var(--cell-size);
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-items: center;
}

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
    border-top: none;
}

.cell:nth-child(3n + 1) {
    border-left: none;
}

.cell:nth-child(3n + 3) {
    border-right: none;
}

.cell:nth-child(7),
.cell:nth-child(8),
.cell:last-child {
    border-bottom: none;
}

.cell.cross {
    content: url("./assets/cross.svg");
    filter: invert(41%) sepia(92%) saturate(2419%) hue-rotate(334deg) brightness(106%) contrast(104%);
}

.cell.circle {
    content: url("./assets/circle.svg");
    filter: invert(69%) sepia(81%) saturate(630%) hue-rotate(146deg) brightness(84%) contrast(87%);
}

#message {
    display: none;
    flex-direction: column;
    align-items: center;
}

#message-data {
    margin: 20pt;
    text-align: center;
    font-size: xxx-large;
    font-weight: bolder;
}

#restart-button {
    transition: ease-in-out;
    transition-duration: 0.5s;
    font-size: x-large;
    padding: 15px;
    background-color: #7374ec;
    color: #FAF9F6;
    border: 1px solid #e7eaec;
    border-radius: 5px;
}

#restart-button:hover {
    transition: ease-in-out;
    transition-duration: 0.5s;
    padding: 20px;
    background-color: #FAF9F6;
    color: #7374ec;
    border: 3px solid #7374ec;
    box-shadow: 0 0 25px #7374ec, 0 0 35px #FAF9F6;
}

#restart-button